@tailwind base;
@tailwind components;
@tailwind utilities;


.cardShow {
  height:-webkit-fill-available;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
